extends base

block nav
  nav
    ul
      li
        a(href="/") Home

block content
  h2=video.title
  video(src="/" + `${video.videoUrl}` controls autoplay)
  div
    p=video.description
    small=video.createdAt
    h4=video.hashtags
  div
    small Uploaded by 
      a(href=`/users/${video.owner._id}`)=video.owner.username
  if loggedInUser._id == video.owner._id
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;