extends base

block nav
  nav
    ul
      li
        a(href="/") Home

block content
  h2=video.title
  div#videoContainer
    video(src="/" + `${video.videoUrl}` autoplay)
    div#videoControls
      button#play Play
      button#mute Mute
      input(type="range", value=".5", min="0", max="1", step="0.1")#volume
      div
        span#currentTime 00:00
        span / 
        span#totalTime 00:00
      div
        input(type="range", value="0", step="1", min="0")#timeline
      div
        button#fullScreen Full Screen
  // VIDEO
  div
    p=video.description
    small=video.createdAt
    h4=video.hashtags
  div
    small Uploaded by 
      a(href=`/users/${video.owner._id}`)=video.owner.username
  if loggedInUser._id == video.owner._id
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
  script(src="/assets/js/videoPlayer.js")